body{
    background-color: #a4caec;
    color: black;
}

#favicon {
  height: 25px;
}

.welcomeText {
    text-align: center;
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Merriweather', serif;
    font-size: 25px;
    overflow: hidden;
    border-right: .15em solid black; 
    white-space: nowrap; 
    margin: auto;
    letter-spacing: .20em;
  
    animation: 
      typing 7s steps(40, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: whitesmoke }
  50% { border-color: transparent }
}


header em{
    font-size: 30px;
}
.container {
  background-color: #DCE0D9;
  border-style: solid;
  border-width: 2px;
  border-radius: 35px;
  padding: 10px;
  
}

.subHeadings {
  font-family: 'Comfortaa', cursive;
  font-size: 25px;
  text-align: center;
}

#aboutMe {
  text-transform: none;
  margin: 20px 20px;
  opacity: 0;
  animation: fadeIn1 4s;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

#oldMe {
  height: 200px;
  float: right;
  margin: 15px;
}
#youngMe {
  height: 200px;
  float: left;
  margin: 15px;
}

.descriptions {
  font-family: 'Ruda', sans-serif;
}

.descriptions em {
  font-size: 20px;
  text-decoration: underline;
}

#skillsNstuff {
  text-transform: none;
  margin: 20px 20px;
  opacity: 0;
  animation: fadeIn2 4s;
  animation-fill-mode: forwards;
  animation-delay: 7s;
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

#aboutMe a{
  color: #D7B377;
}

#guitarPic {
  float: left;
  height: 250px;
}

#skillsNstuff ul {
  overflow: hidden; 
}

#debate {
  float: right;
  height: 250px;
}

#contactMe {
  text-transform: none;
  margin: 20px 20px;
  opacity: 0;
  animation: fadeIn3 4s;
  animation-fill-mode: forwards;
  animation-delay: 9s;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

#contactMe i{
  height: 75px;
  color:  #FFF9A5;
  margin: 15px;
  
}

#contactMe a{
  text-decoration: none;
}

img {
  border-radius: 25px;
}

.copyRight {
  font-family: 'Mulish', sans-serif;
  text-align: center;
  font-size: 23px;
  text-transform: none;
  margin: 20px 20px;
  opacity: 0;
  animation: fadeIn4 4s;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
.button {
  white-space: nowrap;
  text-transform: none;
  opacity: 0;
  animation: fadeIn3 4s;
  animation-fill-mode: forwards;
  animation-delay: 9s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ruda', sans-serif;
}
button {
  font-family: 'Ruda', sans-serif;
  height: 30px;
  border-radius: 10px;
  font-size: 20px;
  border-color: black;
  background-color: white ;
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
#guitar{
  /*vertical-align: bottom;
  display: table-cell;*/
  font-family: 'Ruda', sans-serif;

}

/*@media(max-width: 750px) {
  button {
    font-size: 40px;
    height: 45px;
  }
}*/
